html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	background-color: #222;
	box-sizing: border-box;
	font-family: "Microsoft YaHei";	
}

.app {
	width: 100%;
	height: 100%;
}

.gallery {
	width: 100%;
	height: 100vh;	
}

.img-sec {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;	
	background-color: #ddd;
	perspective: 1000px;

	// 提到最外层
	@at-root {
		.img-figure {
			border: 1px solid #c5c5c5;
			cursor: pointer;		
			background-color: #fff; 
			width: 400px;
			min-height: 420px;
			margin: 0;
			padding: 20px 20px;
			position: absolute;
			box-sizing: border-box;

			transform-origin: 0 50% 0;
			transform-style: preserve-3d;
			transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, top 0.6s ease-in-out; 
			&.fliped {
				//since we set transform-orgin x to 0, so the rotate based on x=0, y=50%
				//tehn flip to backside, we need to translate to rigth by the width,
				transform: translate(400px) rotateY(180deg);
			}
			&.centered {
				z-index: 1000;
			}
			img {
				width: 360px;
				margin: 0 auto;
				display: block;
			}
		}	

		figcaption {
			padding: 20px 10px;
			color: #656565;
			text-align: center;
			.img-caption {
				margin: 20px 0 0 0;
				color: #a7a0a2;
				font-size: 16px;
			}
			h2 {
				margin-top: 50px;
			}
			.img-back {
				position: absolute;
				top: 0;
				left: 0;
  
				width: 100%;
				height: 100%;
				padding: 20px 30px;
				overflow: auto;
  
				color: #a7a0a2;
				font-size: 22px;
				line-height: 1.25;
				text-align: left;
  
				background-color: #fff;
  
				box-sizing: border-box;
				transform: rotateY(180deg) translateZ(1px);//move 1px hide behinde
				backface-visibility: hidden;
  
				p {
					// white-space: nowrap;
					font-size: 20px;
					position: relative;	
					top: 50%;
					transform: translateY(-50%);
					text-indent: 2em;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
					// height: 100%;
					margin: 0;
					display: -webkit-box;
					-webkit-line-clamp: 13;
					-webkit-box-orient: vertical;  
				}
			}
		}
	}
}


/* controller */

.gallery-controller {
	position: absolute;	
	left: 0;
	bottom: 125px;
	z-index: 100;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.controller-item {
	color: #fff;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #aaa;
	display: inline-block;
	margin: 10px;
	line-height: 24px;
	cursor: pointer;

	&.is-center {
		background-color: #808080;
		transform: scale(1.35);
		transition: transform 0.6s;
	}
}
/* controller */


